mixin validationErrorSummary(errors)
  if errors
    div(class='error-msgs')
      div(class='alert alert-danger' role='alert')
        p The following error(s) occurred:
        ul
          each error in errors
            li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control-textarea' rows='5')= fieldValue
    else if fieldType === 'select'
      select(id=fieldName name=fieldName class='form-control-select')
        option(value='false' selected=(false === fieldValue)) false
        option(value='true' selected=(true === fieldValue)) true
    else if fieldType === 'number'
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder step='0.01' max='999999.99' class='form-control-number')
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control-text')
