extends layout.pug

include edit-review-utils.pug

append head

  link(rel="stylesheet", href="/stylesheets/edit-review.css")

block content
    div(class="splash")
        h1
            a(href="/") good
            span: a(href="/") bois
        if locals.authenticated
            div(class="navbar")
                form(action='/users/logout' method='post')
                    button(type='submit' class='logout') LogOut
    h2 Edit Review
    div(id='review-container')
        form(action='/parks/:id/review' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='parksId' value=park.id)
        input(type='hidden' name='userId' value=user.id)
        div(id='review-park-name-container')
            div(id='park-name')= park.name
        div(id='rating-container')
            +field('Rating', 'rating', review.rating, 'select')
        div(id='review-title-container')
            +field('Title', 'title', review.title)
        div(id='review-description-container')
            +field('Description', 'description', review.body, 'textarea')
        div
            a(href=`/parks/${park.id}` id='cancel-btn' class='button') Cancel
            form(action=`parks/${park.id}/` method='post')
                button(type='submit' id='submit-edit-btn' class='button') Update Review
            //- button(type='submit' class='button') Update Review
