extends layout.pug

block content

    ul
        li= park.name
        li= park.city
        li= park.state
        li= park.description
        li= park.smallDogArea
        li= park.doggieWaterFountain
        li= park.fullyFenced
        li= park.parkSize
        li= park.parkingLot
        li= park.wasteDisposal
        li= park.agilityEquipment
        li= park.shaded
    div
        h2 Reviews
        each review in reviews
            div(id=`review-display-${review.id}`)
                div= review.rating
                div= review.title
                div= review.body
        if locals.authenticated
            p: a(href=`/parks/${park.id}/review`) Leave a Review
