extends layout.pug

include edit-review-utils.pug

append head

  link(rel="stylesheet" href="/stylesheets/park-details.css")

  script(src="/javascripts/deleteReview.js" type="module" )

block content
    div(class="splash_nav")
        h1(class='logo')
            a(href="/") goodbois
        if !locals.authenticated
            div(class="navbar")
                nav(id="sign-up-nav")
                    a(href="/users/signup") Sign Up
                form(action='/users/login' method='get')
                    button(type='submit' class='buttons') Log In
                form(action='/users/logout' method='post')
                    button(type='submit' class='buttons') Log Out
    div(class='park-info')
        ul
            li(id='park-name')= park.name
                div
                    form(action=`/parks/${park.id}/edit` method='get')
                        button(type='submit' id='edit-park-button' class='buttons') Edit Park Info
            li(class='input-name') Location
                div(class='input-value')= park.city
                div(class='input-value')= park.state
            li(class='input-name') Description
                div(class='input-value')= park.description
            li(class='input-name') Small Dog Area
                div(class='input-value')= park.smallDogArea
            li(class='input-name') Doggie Water Fountain
                div(class='input-value')= park.doggieWaterFountain
            li(class='input-name') Fully Fenced
                div(class='input-value')= park.fullyFenced
            li(class='input-name') Park Size
                div(class='input-value')= park.parkSize
            li(class='input-name') Parking Lot
                div(class='input-value')= park.parkingLot
            li(class='input-name') Waste Disposal
                div(class='input-value')= park.wasteDisposal
            li(class='input-name') Agility Equipment
                div(class='input-value')= park.agilityEquipment
            li(class='input-name') Shaded
                div(class='input-value')= park.shaded
            //- form(action='/parks/:id' method="post")
            //-     button(type='submit' class='buttons') Add to List
            if locals.authenticated
                a(class='add-to-list-btn' href=`/parks/${park.id}/parksList` role='button') Add to List
    div(class='review-container')
        div(class='review-heading')
            h2 Reviews
            if locals.authenticated
                p(id='review-page'): a(href=`/parks/${park.id}/review`) Leave a Review
        div(id=`review-display-${park.Reviews.id}`)
            each review in park.Reviews
                div(id=`${review.id}-review-container` class='reviews-container')
                    div Rating
                        div(id='rating')= review.rating
                    div Title
                        div(id='title')= review.title
                    div Description
                        div(id='description')= review.body
                    if loggedInUser === review.userId
                        button(type='button' id=`delete-review-${review.id}-${park.id}` class='buttons' class='delete-review-button') Delete Review
                        button(type='submit' id=`edit-review-${review.id}-${park.id}` class='edit-buttons') Edit Review
                        form(id=`edit-container-${review.id}` class='hidden')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' name='parksId' value=park.id)
                            input(type='hidden' name='userId' value=user.id)
                            div(id='review-park-name-container')
                                div(id=`park-name-${review.id}`)= park.name
                            div(id='rating-container')
                                +field('Rating', `rating-${review.id}`, review.rating, 'select')
                            div(id='review-title-container')
                                +field('Title', `title-${review.id}`, review.title)
                            div(id='review-description-container')
                                +field('Description', `description-${review.id}`, review.body, 'textarea')
                            div
                                a(href=`/parks/${park.id}` id=`cancel-btn-${review.id}` class='button') Cancel
                                button(type='submit' id=`submit-edit-${review.id}` class='button') Update Review
                    div(class='popup' id='popup')
                        div(class='popup-header') Are you sure you want to delete this review?
                        div(class='popup-body')
                            a(href=`/parks/${park.id}` class='popup-btns' id='cancel') Cancel
                            a(href=`/parks/${park.id}` class='popup-btns delete-yes' id=`yes-delete-${review.id}-${park.id}`) Yes
                br
                br
