extends layout.pug

include edit-review-utils.pug

append head

  link(rel="stylesheet" href="/stylesheets/park-details.css")

  script(src="/javascripts/deleteReview.js" type="module" )
  script(src="/javascripts/editReview.js" type="module" )
  script(src="/javascripts/deleteParkFromList.js" type="module" )
block content
    div(class="splash")
        h1
            a(href="/") good
            span: a(href="/") bois
                div(class="navbar")
                    if !locals.authenticated
                            nav(id="sign-up-nav")
                                a(href="/users/signup") Sign Up
                            form(action='/users/login' method='get')
                                button(type='submit' class='buttons' id='login') Log In
                    else
                        form(action='/users/logout' method='post')
                            button(type='submit' class='buttons' id='logout') Log Out
    div(class='grid-container')
        div(class='park-info')
            h2(id='park-name')= park.name
                div
            div(id='location' class='input-name') &#127758; Location
                div(class='input-value')= park.city
                div(class='input-value')= park.state
            div(id='description' class='input-name') Description
                div(class='input-value')= park.description
            div(id='smallDogArea' class='input-name') 🐶 Small Dog Area
                div(class='input-value')= park.smallDogArea
            div(id='doggieWaterFountain' class='input-name') 🚰 Doggie Water Fountain
                div(class='input-value')= park.doggieWaterFountain
            div(id= 'fullyFenced' class='input-name') 🏗 Fully Fenced
                div(class='input-value')= park.fullyFenced
            div(id='parkSize' class='input-name') &#127966; Park Size
                div(class='input-value')= park.parkSize
            div(id='parkingLot' class='input-name') 🅿️ Parking Lot
                div(class='input-value')= park.parkingLot
            div(id='wasteDisposal' class='input-name') 🚮 Waste Disposal
                div(class='input-value')= park.wasteDisposal
            div(id='agilityEquipment' class='input-name') 🎾 Agility Equipment
                div(class='input-value')= park.agilityEquipment
            div(id='shaded' class='input-name') 🌲 Shaded
                div(class='input-value')= park.shaded
            //- form(action='/parks/:id' method="post")
            //-     button(type='submit' class='buttons') Add to List
            //- if locals.authenticated
            //-     a(class='add-to-list-btn'  href=`/parks/${park.id}/parksList` role='button') Add to List
            //-     button(type='button' id=`delete-parklist-${park.id}` class='buttons' class='delete-parklist-button') Delete Park From Your List
            //-         div(class='popup' id=`popup-${park.id}`)
            //-             div(class='popup-header') Are you sure you want to delete this park from your List?
            //-             div(class='popup-body')
            //-                 a(href=`/profile/${park.id}` class='popup-btns' id='cancel') Cancel
            //-                 a(href=`/profile/${park.id}` class='popup-btns delete-yes' id=`yes-delete-${park.id}`) Yes
            //-                 //- button(class='popup-btns delete-yes' id=`yes-delete-${park.id}`) Yes
            div(id='editAndAdd')
                if locals.authenticated
                    a(class='add-to-list-btn' href=`/parks/${park.id}/parksList` role='button') Add to List
                    form(action=`/parks/${park.id}/edit` method='get' id='get-edit-form')
                        button(type='submit' id='edit-park-button' class='buttons') Edit Park Info
                    
    div(class='review-container')
        div(class='review-heading')
            h2(id='reviews-h2') Reviews
            if locals.authenticated
                a(href=`/parks/${park.id}/review` id='review-btn') Leave a Review
        div(id=`review-display`)
            each review in park.Reviews
                div(id=`${review.id}-review-container` class='reviews-container')
                    div(class='review-input') Title
                        div(id=`title-${review.id}-display`)= review.title
                    div(class='review-input') Rating
                        div(id=`rating-${review.id}-display`)= review.rating
                    div(class='review-input') Description
                        div(id=`description-${review.id}-display`)= review.body
                    if loggedInUser === review.userId
                        div(class='review-btns')
                            button(type='button' id=`delete-review-${review.id}-${park.id}` class='buttons' class='delete-review-button') Delete Review
                            button(type='button' id=`edit-review-${review.id}-${park.id}` class='buttons' class='edit-buttons') Edit Review
                        form(id='edit-container' class='hidden')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' name='parksId' value=park.id)
                            input(type='hidden' name='userId' value=user.id)
                            div(id='rating-container')
                                +field('Rating', `rating-${review.id}`, review.rating, 'select')
                            div(id='review-title-container')
                                +field('Title', `title-${review.id}`, review.title)
                            div(id='review-description-container')
                                +field('Description', `description-${review.id}`, review.body, 'textarea')
                            div
                                a(href=`/parks/${park.id}` id=`cancel-btn` class='button') Cancel
                                button(type='submit' id=`submit-edit-${review.id}-${park.id}` class='button') Update Review
                    div(class='popup' id='popup')
                        div(class='popup-header') Are you sure you want to delete this review?
                        div(class='popup-body')
                            a(href=`/parks/${park.id}` class='popup-btns' id='cancel') Cancel
                            a(href=`/parks/${park.id}` class='popup-btns delete-yes' id=`yes-delete-${review.id}-${park.id}`) Yes
    footer
    div(class="github_links")
      h2: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
      h2: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
      h2: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
      h2: a(href="https://github.com/graceechi" target="_blank") Grace Chi
