extends layout.pug

include utils.pug

append head

  link(rel="stylesheet" href="/stylesheets/review-form.css")

  script(src="/javascripts/review-form.js" type="module" )

block content
  div(class="splash")
    h1
        a(href="/") good
        span: a(href="/") bois
    div(class="navbar")
      form(action='/users/logout' method='post')
        button(type='submit' class='logout') Log Out
  div(id='review-container' class='form')
    form(action='/parks/:id/review' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='hidden' name='parksId' value=park.id)
      input(type='hidden' name='userId' value=user.id)
      div(id='review-park-name-container' class='form')
        div(id='park-name' class='form')= park.name
      div(id='rating-container' class='form')
        label(class='form') Rating:
        select(id='rating-drop-down' class='form' name='rating' required)
          option(class='form' value='5') 5
          option(class='form' value='4') 4
          option(class='form' value='3') 3
          option(class='form' value='2') 2
          option(class='form' value='1') 1
      div(id='review-title-container' class='form')
        label(class='form') Title:
        input(type='text' id='review-title-input' class='review-input' class='form' name='reviewTitle' required)
      div(id='review-description-container' class='form')
        label(class='form') What Did You Think?
        textarea(name='reviewDescription' id='review-description-input' class='review-input' class='form' rows='8' required)
      div(id='button-container' class='form')
        a(href=`/parks/${park.id}` id='cancel-btn' class='button' class='form') Cancel
        button(type='submit' id='submit-review-btn' class='button' class='form') Submit Review
