doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/profile.css") 
        script(src="/public/javascripts/random-image.js"  type="module")
  body(id='img')
    header
        div(class="splash")
            a(href="/") good
            span: a(href="/") bois

            div(class="navbar")
                if locals.authenticated
                    a(href="/users/login") Log Out
    br
    br
    main
        div(class='welcome')
            span Welcome #{user.fullName}! You have logged in successfully. 
        br
        br
        h2(class='user_name' style )= user.fullName
        h3(class='email')= user.email
        br
        br
        div(class='parkslist') Your Parks list
            each park in parks
                ul
                    li(id='park')
                        a(href=`/parks/${park.id}`)= park.name
        br
        br
        div(class='moreParks')
            span Want to find more parks for your buddy?? 
            br
            span Visit 
                a(href="/parks") Parks!
    footer
        div(class="github_links")
            span: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
            br
            span: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
            br
            span: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
            br
            span: a(href="https://github.com/graceechi" target="_blank") Grace Chi 
        






        