doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/profile.css")
        script(src="/public/javascripts/random-image.js"  type="module")
  body(id='img')
    header
        div(class="splash")
            a(href="/") good
            span: a(href="/") bois

            div(class="navbar")
                if locals.authenticated
                    a(href="/users/login") Log Out
    br
    br
    main
        div(class='welcome')
            span Welcome #{user.fullName}! You have logged in successfully.
        br
        br
        h2(class='user_name' style )= user.fullName
        h3(class='email')= user.email
        br
        br
        div(class='parkslist') Your Parks list
            each park in parks
                div(id=`${park.id}-parklist-container` class='parklist-container')
                    div(class='popup') Are you sure you want to delete this review?
                        form(action=`/profile/:id` method='get')
                            button(type='submit' class='buttons') Cancel
                        button(type='submit' class='buttons') Yes
                        form
                    ul
                        li(id='park')
                            a(href=`/parks/${park.id}`)= park.name
                    button(type='button' id=`delete-parklist-${park.id}` class='buttons' class='delete-parklist-button') Delete Park
                    div(class='popup' id='popup')
                        div(class='popup-header') Are you sure you want to delete this park?
                        div(class='popup-body')
                            a(href=`/parks/${park.id}` class='popup-btns' id='cancel') Cancel
                            a(href=`/parks/${park.id}` class='popup-btns delete-yes' id=`yes-delete-${park.id}`) Yes
        br
        br
        div(class='moreParks')
            span Want to find more parks for your buddy??
            br
            span Visit
                a(href="/parks") Parks!
    footer
        div(class="github_links")
            span: a(href="https://github.com/ShanFalk" target="_blank") Shannon Falk
            br
            span: a(href="https://github.com/oliviabir" target="_blank") Olivia Bir
            br
            span: a(href="https://github.com/sonajasani" target="_blank") Sona Jasani
            br
            span: a(href="https://github.com/graceechi" target="_blank") Grace Chi
